* {
  box-sizing: border-box;
}

html, body {
  background-color: #EFECEB;
  height: 100%;
}

.navbar{
    background-color: #474747;
    font-family: "Play";
}

.navbar a:hover{
  text-decoration: underline;
}

  body{
    margin: 0 100px 0 100px;
  }

  .navbar{
    overflow: hidden;
    padding: 10px 0 10px 0;
  }

  .navbar div{
    padding-top: 5px;
    float: right;
    margin-right: 20px;
  }

  .navbar a{
    text-decoration: none;
    font-size: 26px;
    color: #EFECEB;
    float: left;
    padding-left: 20px;
  }

  .navbar a:hover {
    text-decoration: none;
  }

  .navbar div a {
    -webkit-transition: color 200ms;
    font-size: 20px;
    padding: 2px 7px 2px 7px;
  }

  .navbar div a:hover{
    text-decoration: none;
    color: #B8473D;
  }

@media only screen  and (max-width : 1000px) {
  body{
    margin: 0 0px 0 0px;
  }
}

/* Large screens ----------- */
/* @media only screen  and (min-width : 600px) {
  body{
    margin: 0 300px 0 300px;
  }

  .navbar{
    overflow: hidden;
    padding: 10px 0 10px 0;
  }


  .navbar div{
    padding-top: 5px;
    float: right;
    margin-right: 21%;
  }

  .navbar a{
    font-size: 26px;
    color: #F2F2F2;
    text-decoration: none;
    float: left;
    padding-left: 3%;
  }

  .navbar div a {
    text-decoration: none;
    font-size: 20px;
    padding-right: 2px;
    padding-left: 2px;
  }
} */