

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 0px) {

	.blogcontent {
		margin: 0 40px 0 40px;
		overflow: hidden;
	}

	.blogcontent .blogcontent__preview {
		float: left;
		width: 33.33%;
		margin-top: 3.3325%;
		-webkit-transition: background-color 0.5s, ease-out;
		transition: background-color 0.5s, ease-out;
	}

	.image__block {
		position: relative;
		float: left;
		width: 89px;
	}

	.image__block-padding {
		position: relative;
		padding-top: 66.6666667%;
	}

	.image__block-padding img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.blogcontent div:hover{
		background-color: #60B9CE;
	}

	.blogcontent__preview-text {
		float: left;
		width: 104px;
	}

	.blogcontent h3 {
		padding-left: 5px;
		font-size: 2em;

	}
	.blogcontent p {
		position: relative;
	}
}

/* Large screens ----------- */
/* @media only screen  and (min-width : 600px) {
	body{
		margin: 0 300px 0 300px;
	}

} */