.entry{
	width: 80%;
	float:left;
	margin-top: 28px;
	font-family: "Open Sans";
}

.entrycontent {
	margin: 28px;
}

.entry h3{
	font-size: 42px;
	line-height: 50px;
	text-align: center;
}

.entry h4{
	font-size: 28px;
	line-height: 32px;
	margin-bottom: 16px;
}

.entry p{
	margin-bottom: 16px;
	width: auto;
	font-size: 16px;
	line-height: 24px;
}

.entrycontent .intropara{
	width: auto;
	padding: 0 30px;
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 28px;
}

.entrynav{
	margin-top: 28px;
	width: 20%;
	color: #EFECEB;
	float: left;
	padding: 10px 0 10px 10px; 
	background-color: #B8473D;
	font-family: "Open Sans";
}

.entrynav span{
	margin-top: 10px;
	display: block;
	font-size: 18px;
	cursor: pointer;
}

.entrynav span:hover{
	text-decoration: underline;
}

.entrydateactive{
	list-style-type: none;
	margin-bottom: 10px;
	transition: opacity 1s ease-out;
	opacity: 1;
}

.entrydateactive ul{

}

.entrydateactive li{
	padding-left: 7px;
	font-size: 14px;
}

.entrydateactive li:hover{
	text-decoration: underline;
}

.entrydate{
	margin-bottom: 10px;
	max-height: 0;
	visibility: hidden;
	opacity: 0;
}

.entrydateactive li {
	margin-top: 10px;
}

.entrydate ul{
	display: none;
}