/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

.entry{
	width: 61.8%;
	float:left;
}

.entrynav{
	width: 38.2%;
	float: left;
}

.entrydateactive{
	list-style-type: none;
}

.entrydateactive span{

}

.entrydateactive li{
	padding-left: 7px;
}

.entrydate{

}

.entrydate span{

}

.entrydate li{
	display: none;
}

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {

}